{% extends 'base.html' %}

{% block title %}Mukesh Mithiya{% endblock title %}

{% block homeActive %}"nav-link scrollto active"{% endblock homeActive %}
{% block aboutActive %}"nav-link scrollto"{% endblock aboutActive %}
{% block resumeActive %}"nav-link scrollto"{% endblock resumeActive %}
{% block contactActive %}"nav-link scrollto"{% endblock contactActive %}

{% block body %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Mukesh Mithiya</h1>
      <p>I'm <span class="typed" data-typed-items="Developer, Freelancer"></span></p>
    </div>
</section><!-- End Hero -->

{% endblock body %}